{% extends "base.html" %}

{% block title %} Interactive map generator {% endblock %}

{% block body %}

<h2>Welcome!</h2>

<div class="container">
    <div class="row">
        <div class="col-12">
            {% block content %}

            <form action="" method="post" role="form">
                {{ form.hidden_tag() }}
                <table>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Image URL</td>
                    </tr>
                    <tr>
                        <td>Map</td>
                        <td>{{ form.map_name(size=32) }}</td>
                        <td>{{ form.map_base_url(size=70) }}</td>
                    </tr>
                    {% for l in form.characters %}
                    <tr>
                        <td>Character {{ loop.index }}</td>
                        <td>{{ l.form.char_name(size=32) }}</td>
                        <td>{{ l.form.char_url(size=70) }}</td>
                    </tr>
                    {{ char_name }}
                    {% endfor %}
                </table>
                <br>
                <p>{{ form.create() }}</p>
            </form>

            <!-- just to display all potential errors -->
            {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}