<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load Leaflet: http://leafletjs.com/ -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html,
        body,
        #map {
            height: 100%;
        }
    </style>

</head>

<body>

    <div id="map"></div>

    <!-- Firebase App -->
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-database.js"></script>

    <script>

        // Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyA-RgflxwcBhkBdHG3CN7XuxSDZYiDypdA",
            authDomain: "interactive-fantasy-map.firebaseapp.com",
            databaseURL: "https://interactive-fantasy-map.firebaseio.com",
            projectId: "interactive-fantasy-map",
            storageBucket: "interactive-fantasy-map.appspot.com",
            messagingSenderId: "669243645275",
            appId: "1:669243645275:web:a13b66af209c5555cb4e7e",
            measurementId: "G-82ZL4BKSWN"
        };

        // Initialize Firebase
        var database = firebase.initializeApp(firebaseConfig);

        // DB functions
        function writePositionData(mapUUID, mapName, playerNum, x, y) {
            firebase.database().ref('maps/' + mapUUID + "/" + mapName + '/players/' + playerNum).update({
                x: x,
                y: y
            });
        }

        // Get map UUID, name, etc.
        var mapUUID = {{ data| tojson }}[0];
        var mapName = {{ data| tojson }}[1];
        var uuidArray = mapUUID.split("-");
        var maxZoom = parseInt(uuidArray[uuidArray.length - 1]) - 1;
        var mapNameEncoded = encodeURIComponent(mapName);
        document.title = mapName + " - Interactive fantasy maps";

        // Create map
        var map = L.map(
            "map",
            {
                center: [0, 0],
                crs: L.CRS.Simple,
                zoom: 1,
                zoomControl: true,
                preferCanvas: false,
            }
        );

        var tile_layer = L.tileLayer(
            "/static/" + mapUUID + "/tiles/{z}/{y}/{x}.png",
            {
                "attribution": "TO-DO",
                "detectRetina": true,
                "maxNativeZoom": maxZoom,
                "maxZoom": maxZoom,
                "minZoom": 0,
                "noWrap": false,
                "opacity": 1,
            }
        ).addTo(map);

        var markerLayer = L.layerGroup().addTo(map);

        function createMarkers(playerInfo) {
            var markerArray = [];
            for (let i = 0; i < playerInfo.length; i++) {
                var player = playerInfo[i];
                marker = new L.marker([player["x"], player["y"]], {
                    draggable: true,
                    icon: L.icon({ "iconSize": [70, 70], "iconUrl": player["icon"] })
                }).bindPopup(player["name"]);
                marker.on("dragend", function (e) {
                    var chagedPos = e.target.getLatLng();
                    writePositionData(mapUUID, mapNameEncoded, i, chagedPos.lat, chagedPos.lng);
                });
                markerArray.push(marker);
            }
            return markerArray;
        }

        function placeMarkersInMap(markers) {
            for (var i = 0; i < markers.length; i++) {
                markerLayer.addLayer(markers[i]);
            }
        }

        // Listen for changes in firebase
        firebase.database().ref('maps/' + mapUUID + "/" + mapNameEncoded + '/players').on('value', function (snapshot) {
            var playerInfo = snapshot.val();
            markerLayer.clearLayers();
            markerArray = createMarkers(playerInfo)
            placeMarkersInMap(markerArray);
        });

    </script>

</body>

</html>